extends layout

block content
    div.recipe
        p #{user.name}
        h2 #{recipe.title}
        hr
        -var value = 3+2
        h4 #{value}
        //ul.versions
        //    each version in user.versions
        //    h4 Version # #{version.id}

        //ul.recipes
        //    each recipe in user.recipes
        //        li " #{recipe.title} ",
        //            strong  #{recipe.versions.length} Version#{recipe.versions.length === 1 ? '' : 's'}